@{
    ViewData["Title"] = "User";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="user"></p>
    <div id="articleList"></div>
</div>
<input type="hidden" id="signalRConnectionId" />
<script>
       function ready() {
        }
       //random number between 1 and 100 for demo
    var userId = Math.floor((Math.random() * 100) + 1);
    document.addEventListener("DOMContentLoaded", ready);
    document.getElementById("user").innerHTML = "UserId: " + userId;
</script>
<script src="/lib/signalr/signalr.min.js"></script>
<script src="/js/usernotification.js"></script>